.categories .section-title h2 {
  font-size: 32px;
}

.categories-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.clickable-card {
  display: inline-block;
  width: 312px;
  height: 220px;
  border-radius: 8px;
  padding: 0 16px;
  text-align: center;
  text-decoration: none;
  color: var(--text-primary-color);
  background-color: var(--background-secondary-color);
}

.clickable-card article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 24px;
}

@media screen and (min-width: 768px) {
  .categories-search {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .clickable-card {
    width: 420px;
    height: 308px;
  }

  .clickable-card:focus-visible {
    outline: none;
  }

  .clickable-card:hover {
    background-color: #f1f1f1;
  }

  .clickable-card h3 {
    font-size: 42px;
  }
}

@media screen and (min-width: 1440px) {
  .clickable-card {
    width: 280px;
    height: 220px;
  }

  .clickable-card h3 {
    font-size: 28px;
  }
}
