.clickable-card {
  display: inline-block;
  width: 312px;
  height: 220px;
  border-radius: 8px;
  padding: 41px 0;
  text-align: center;
  text-decoration: none;
  color: var(--text-primary-color);
  background-color: var(--background-secondary-color);
}

.clickable-card img {
  margin-bottom: 24px;
}

.clickable-card h3 {
  font-size: 28px;
}

@media screen and (min-width: 1440px) {
  .clickable-card {
    width: 282px;
  padding: 24px 0;

  }

  .clickable-card:focus-visible {
    outline: none;
  }

  .clickable-card:hover {
    background-color: #f1f1f1;
  }
}
