.payment-info-content .content-text {
  margin-top: 24px;
}

.payments .image-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  height: 460px;
  width: 100%;
  margin-top: 24px;
}

.first-image {
  background: url("../img/bag-mobile-tablet.jpg") no-repeat;
  background-size: cover;
}

.second-image {
  background: url("../img/passport-mobile-tablet.jpg") no-repeat;
  background-size: cover;
}

.third-image {
  background: url("../img/people-mobile-tablet.jpg") no-repeat;
  background-size: cover;
  grid-column: span 2;
}

@media screen and (min-width: 768px) {
  .first-image {
    background: url("../img/bag-desktop.jpg") no-repeat;
    background-size: cover;
  }

  .second-image {
    background: url("../img/passport-desktop.jpg") no-repeat;
    background-size: cover;
  }

  .third-image {
    background: url("../img/people-desktop.jpg") no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1440px) {
  .payments .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .payment-info-content {
    width: 360px;
  }

  .payments .image-gallery {
    width: 790px;
  }
}
